.logo{
    display: block;
}

.secondary-button{
    margin-top: 200px;
}

.section-container{
    height: 100%;
    padding: 20px 0;
}

.form-createAccount{
    height: 100%;
    justify-content: space-between;
}

.cards-container{
    grid-template-columns: repeat(2, 140px);
    gap: 25px;
}

.product-card{
    width: 140px;
}

.product-card img{
    width: 140px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
}

.menu{
    display: block;
}

.navbar-left ul{
    display: none; 
}

.navbar-email{
    display: none; 
}

.product-detail{
    width: 100%;
}

.product-detail img:nth-child(2){
    height: auto;
}