:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-grey: #C7C7C7;
    --text-input-field: #F7F7F7;
    --primary-green: #7aeca8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.section-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 350px;
}

.logo{
    width: 150px;
    margin-bottom: 40px;
    justify-self: center;
    display: none;
}

.section-container h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    margin-bottom: 15px;
}

.section-container .my-account{
    text-align: initial;
    margin-bottom: 40px;
}

.section-container p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--very-light-grey);
    text-align: center;
    margin-bottom: 40px;
}

.form-style{
    display: flex;
    flex-direction: column;
}

.form-newPassword label, .form-login label{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 8px;
}

.input-form{
    border-radius: 10px;
    background-color: var(--text-input-field);
    margin-bottom: 8px;
    border: 1px solid var(--text-input-field);
    color: var(--very-light-grey);
    height: 42px;
}

::placeholder{
    color:#797979;
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
}

.primary-button{
    height: 59px;
    background-color: var(--primary-green);
    border-radius: 10px;
    border: 1px solid var(--primary-green);
    margin-top: 4px;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
}

.login-button{
    margin-top: 20px;
}

.form-passwordRecovery div{
    width: 153px;
    height: 153px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--text-input-field);
    margin-bottom: 16px;
}

.form-passwordRecovery img{
    width: 90px;
    height: 57.81;
}

.form-passwordRecovery p{
    margin-top: 12px;
    color: var(--very-light-grey);
    font-size: 1.4rem;
    font-weight: 500;
}

.form-passwordRecovery p span a{
    color: var(--primary-green);
    text-decoration: none;
    cursor: pointer;
}

.form-login a{
    font-size: 1.4rem;
    color: var(--primary-green);
    margin-top: 20px;
    align-self: center;
    text-decoration: none;
}

.secondary-button{
    height: 59px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--primary-green);
    margin-top: 50px;
    font-size: 1.8rem;
    color: var(--primary-green);;
    cursor: pointer;
    font-weight: 700;
}

.create-button{
    margin-top: 50px;
}

@media (max-width:640px){
    .logo{
        display: block;
    }
    .secondary-button{
        margin-top: 200px;
    }
    .create-button{
        margin-top: 200px;
    }
}