:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-grey: #C7C7C7;
    --text-input-field: #F7F7F7;
    --primary-green: #7aeca8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.section-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 350px;
}

.logo{
    width: 150px;
    margin-bottom: 40px;
    justify-self: center;
    display: none;
}

.section-container h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    margin-bottom: 15px;
}

.section-container .my-account{
    text-align: initial;
    margin-bottom: 40px;
}

.section-container p{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--very-light-grey);
    text-align: center;
    margin-bottom: 40px;
}

.form-style{
    display: flex;
    flex-direction: column;
}

.form-createAccount div{
    display: flex;
    flex-direction: column;
}

.form-label label {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 8px;
}

.my-account__section{
    display: flex;
    flex-direction: column;
}

.my-account__section p{
    font-size: 1.6rem;
    text-align: initial;
}

.input-form{
    border-radius: 10px;
    background-color: var(--text-input-field);
    margin-bottom: 8px;
    border: 1px solid var(--text-input-field);
    color: var(--very-light-grey);
    height: 42px;
}

.input-createAccount{
    margin-bottom: 20px;
}

::placeholder{
    color:#797979;
    font-size: 1.2em;
    font-family: 'Quicksand', sans-serif;
}

.primary-button{
    height: 59px;
    background-color: var(--primary-green);
    border-radius: 10px;
    border: 1px solid var(--primary-green);
    margin-top: 4px;
    font-size: 1.8rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
}

.login-button{
    margin-top: 20px;
}

.form-passwordRecovery div{
    width: 153px;
    height: 153px;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: var(--text-input-field);
    margin-bottom: 16px;
}

.form-passwordRecovery img{
    width: 90px;
    height: 57.81;
}

.form-passwordRecovery p{
    margin-top: 12px;
    color: var(--very-light-grey);
    font-size: 1.4rem;
    font-weight: 500;
}

.form-passwordRecovery p span a{
    color: var(--primary-green);
    text-decoration: none;
    cursor: pointer;
}

.form-login a{
    font-size: 1.4rem;
    color: var(--primary-green);
    margin-top: 20px;
    align-self: center;
    text-decoration: none;
}

.secondary-button{
    height: 59px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid var(--primary-green);
    margin-top: 50px;
    font-size: 1.8rem;
    color: var(--primary-green);;
    cursor: pointer;
    font-weight: 700;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 35px;
    place-content: center;
}

.product-card{
    width: 240px;
}

.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.product-info figure{
    margin: 0;
}

.product-info figure img{
    width: 40px;
    height: 40px;
}

.product-info div p:nth-child(1){
    font-size: 1.6rem;
    font-weight: bold;
    color: #404040;
    line-height: 17px;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    font-size: 1.4rem;
    color: #a8a7a7;
    line-height: 17px;
}

.desktop-menu{
    width: 153px;
    height: auto;
    border: 1px solid var(--very-light-grey);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li{
    text-align: end;
    font-weight: bold;
}

.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid #ebe9e9c7;
    font-weight: 600;
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 20px;
}

.desktop-menu ul li:last-child a{
    color: var(--primary-green);
    font-size: 1.4rem;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    padding: 36px;
}

.mobile-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories , .account , .email{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.account{
    margin: 0 0 20px 0;
    border-top: 1px solid #ebe9e9c7;
    padding-top: 24px;
}

.email{
    margin-top: 50px;
}

.mobile-menu .categories li a, .mobile-menu .account li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black);
    display: inline-block;
    padding-bottom: 16px;
    font-weight: bold;
}

.mobile-menu .email p{
    font-size: 1.4rem;
    color: var(--very-light-grey);
    font-weight: 300;
    padding-bottom: 4px;
}

.mobile-menu .email a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-green);
    font-weight: 500;
}

@media (max-width:640px){
    .logo{
        display: block;
    }
    .secondary-button{
        margin-top: 200px;
    }
    .section-container{
        height: 100%;
        padding: 20px 0;
    }
    .form-createAccount{
        height: 100%;
        justify-content: space-between;
    }
    .cards-container{
        grid-template-columns: repeat(2, 140px);
        gap: 25px;
    }
    .product-card{
        width: 140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
        border-radius: 20px;
        object-fit: cover;
    }
    
}